@import "../partial/variables";
.main-header {
  background-color: $petrol;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul,
  div {
    display: flex;
    li {
      margin: 0 25px;
      a {
        color: white;
        text-decoration: none;
      }
      list-style: none;
    }
  }
  div {
    align-items: center;
    .header-logo {
      margin: 0 25px;
    }
    .header-logo {
      width: 40px;
    }
    form {
      display: flex;
      align-items: center;
      .header-search {
        width: 250px;
        height: 30px;
        border: none;
        padding: 0 20px;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        background-color: white !important;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 50px;
        background: white;
        border-top-right-radius: 46px;
        border-bottom-right-radius: 46px;
        img {
          height: 20px;
        }
      }
    }
  }
}
