@import "../partial/variables";
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $petrol;
  font-family: "Prata", sans-serif;
  color: $bronze;
  font-size: 25px;
  font-weight: 500;
}
