.main-profile {
  padding: 100px 50px;
  max-width: 1250px;
  min-width: 300px;
  margin: 0 auto;
  .business-card {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
    .basic-info {
      width: 300px;
      margin-left: 100px;
      li:nth-child(3) {
        margin-top: 50px;
      }
    }
    .profile-picture {
      display: flex;
      border-radius: 100%;
      object-fit: cover;
      width: 250px;
      height: 250px;
    }
    .social-media {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      .sm-icon {
        margin: 0 10px;
        a {
          img {
            height: 25px;
            width: 25px;
            object-fit: cover;
          }
        }
      }
    }
  }
  .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 50px 200px;
    padding-top: 100px;
    .biography {
      p {
        padding: 15px 0;
        text-align: justify;
      }
    }
    .experience,
    .education,
    .skill {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      padding: 15px 0;
      li {
        line-height: 1.5;
      }
    }
  }
}
